*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    
}
#navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#navbar ul li {
 list-style: none;
}
#navbar ul li {
    padding: 34px 23px;
}